.flex {
  display: flex;
  flex: 1 1 0;
  position: absolute;
  overflow: hidden;
  flex-direction: row;
  height: 100%;
  left: 0;
  right: 0
}

.navigation {
  flex: 0 0 auto;
  width: 220px
}

.content {
  flex: 1 1 0
}