.sublink {
  position:relative;
  padding-left: 24px;
  background: #2a4f68;
}

$activeColor: #ffff7d;

.sublinkActive a {
  color: $activeColor;
}

.sublinkActive .sublinkBar {
  background-color: $activeColor;
}

.sublinkBar {
  position: absolute;
  left: 30px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: hsla(0,0%,100%,.1);
}