.code {
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
}

@mixin label($bgcolor) {
  border-radius: 5px;
  float: right;
  color: white;
  padding: 0 5px;
  background-color: $bgcolor;
}

.new {@include label(#459FED)}
.changed {@include label(#D9CF1C)}
.removed {@include label(#F2564D)}
.hidden {@include label(#733CA6)}
.draft {@include label(#65C888)}
.no-spec {@include label(#FAAD4D)}
.no-docs {@include label(#F27052)}

