body {
    margin: 0;
}

.page {
    display: grid;
    grid-template-rows: 30px auto 30px;
    grid-template-columns: 228px 1fr;
    height: 100vh;
}

.sidebar {
    background-color: #D9CF1C;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer {
    background-color: #733CA6;
    grid-column-start: 1;
    grid-column-end:   4;
}

.header {
    background-color: #459FED;
    grid-column-start: 1;
    grid-column-end:   4;
}

.content {
}

.api {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro {
    grid-column-start: 1;
    grid-column-end:   3;
    padding-bottom: 30px;
}

.docs {
    grid-column-start: 1;
    grid-column-end:   2;
    box-shadow: inset 0 2px 17px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 24px;
}

.api-title {
    margin: 24px 24px 6px 24px;
}

.examples {
    position: relative;
    background-color: #162d3d;
    color: white;
    grid-column-start: 2;
    grid-column-end:   3;
}

.examples:after {
    right: 100%;
    top: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #162d3d;
    border-width: 10px;
    margin-top: -10px;
}

@media only screen and (max-width: 1284px) {
    .page {
        grid-template-columns: 180px 1fr;
    }
}

@media only screen and (max-width: 1026px) {
    .page {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display:none;
    }
}

@media only screen and (max-width: 858px) {
    .api {
        grid-template-columns: 1fr;
        background-color: red;
    }

    .examples {
        grid-column-start: 1;
        grid-column-end:   2;
    }
}

.paragraph-layout {
    margin: 0 24px 12px 24px;
}

.docs-section-title {
    margin: 24px 24px 6px 24px;
}


.syntax-box {
    background-color: #f4fcfc;
    padding: 18px 0 36px 0;
}

.syntax-title {
    margin: 0 24px 12px 24px;
}

.syntax-code {
    margin: 0 24px;
}

.tech_box {
    position: relative;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #efd8ee;
    margin: 6px 24px 0 24px;
}
.tech_box_arrow {
    margin: 14px 24px 0 24px;
}
.tech_box_arrow:after, .tech_box_arrow:before {
    bottom: 100%;
    left: 24px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tech_box_arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.tech_box_arrow:before {
    border-color: rgba(239, 216, 238, 0);
    border-bottom-color: #efd8ee;
    border-width: 11px;
    margin-left: -11px;
}

.tech-box-code {
    background-color: #f4fcfc;
    padding: 12px 18px;
    margin:0;
}

.api-toc {
    margin: 24px 24px 6px 24px;
}

.api-toc-heading {
    margin: 24px 24px 6px 24px;
}

.api-toc-table-wrapper {
    margin: 0 24px;
}

.api-toc-table {
    border-top: 1px solid #eaf7ff;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.api-toc-table tr {
    height: 36px;
    vertical-align: center;
}

.api-toc-table tr:nth-child(odd) {background: #FFF}
.api-toc-table tr:nth-child(even) {background: #f4fcfc}
.api-toc-table .toc-column1 {width: 245px}

.tech-box-title {
    margin: 18px 18px 12px 18px;
}

.tech-box-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.tech-box-table tr {
    vertical-align: top;
}

.tech-box-table tr:nth-child(even) {background: #FFF}
.tech-box-table tr:nth-child(odd) {background: #f4fcfc}

.tech-box-table tr td:nth-child(1) {width: 35%; text-align: right; padding: 12px 6px;}
.tech-box-table tr td:nth-child(2) {padding: 12px 6px;}

.tech-box-table-2nd-line {margin-top: 6px}

.mixed-box {
    position: relative;
    background: #fff3d6;
    border-radius: 4px;
    border: 1px solid #ffce5c;
    margin: 6px 24px 0 24px;
}

.mixed-box-title {
    padding: 12px 18px;
    margin: 0;
}

.mixed-box-content {
    border-top: 1px solid #fcce94;
    padding: 12px 18px;
    margin:0;
}

.expanded-arrow {
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    border: solid #43515c;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-right: 8px;
}