.api-title {
    font-family: HelveticaNeue, serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: #2d4150;
}

.api-title-arrow {
    font-size: 14px;
    vertical-align: middle;
}

.api-toc {
    font-family: HelveticaNeue, serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    text-align: left;
    color: #43515c;
}

.mid-title {
    font-family: HelveticaNeue, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2d4150;
}

.small-title {
    font-family: HelveticaNeue, serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 3.2px;
    text-align: left;
    color: #7a92a5;
    font-weight: normal;
}

.docs-paragraph {
    font-family: HelveticaNeue, serif;
    font-size: 14px;
    line-height: 1.29;
    color: #2d4150;
}

.docs-link {
    color: #3b60ea;
}

.code-inline {
    font-family: Menlo, Monaco, monospace;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 3px;
    border-radius: 2px;
    background-color: #fff3d6;
}

.code-block {
    font-family: Menlo, Monaco, monospace;
    font-size: 12px;
    line-height: 1.5;
    color: #3b60ea;
}

.code-label {
    font-family: HelveticaNeue, serif;
    font-size: 14px;
    line-height: 1.29;
    color: #42c5bf;
}

.examples-title {
    font-family: HelveticaNeue, serif;
    font-size: 18px;
    font-weight: 500;
    padding: 32px 31px 0 31px;
    margin: 0;
    line-height: 1.33;
    text-align: left;
    color: #7a92a5;
}

.example-title {
    font-family: HelveticaNeue, serif;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 31px;
    margin: 0;
    line-height: 1.29;
    text-align: left;
    color: #7a92a5;
}

.example-code {
    font-family: Menlo, Monaco, monospace;
    font-size: 12px;
    padding: 24px 31px;
    margin: 0 0 48px 0;
    background-color: black;
    line-height: 1.5;
    text-align: left;
    color: #d3edff;
    overflow: auto;
}

.api-toc-table .toc-column1 {
    font-family: HelveticaNeue, serif;
    font-size: 14px;
    line-height: 2.57;
    text-align: right;
    color: #3b60ea;
    padding-right: 6px;
}

.api-toc-table .toc-column2 {
    font-family: HelveticaNeue, serif;
    font-size: 14px;
    line-height: 2.57;
    text-align: left;
    padding-left: 6px;
    color: #2d4150;
}